/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


/* Influencer produts style  */

.container{
    margin-left: 60px;
    margin-right: 60px;
}
.journey-one {
    font-size: 25px;
}
.start-journey{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 40px;
    margin-bottom: 50px;
    
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,white);
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 20px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 50px;
    
}

/* <!----------- Popular collection  style-------------
------------------------------------------------> */
.container-2{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
}


.popular-tittle{
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    
}
.collection .collection-banner img{
    width: 300px;
    height: 256px;

}
.see-bar{
    text-align: right;
    color: crimson;
}



   



.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:  #AEAEAE;
}
span{
    margin-left: 1em;
}
